body {
    font-family: $font-primary;
    font-weight: 400;
    color: $color-black;
    line-height: 1.2;

    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
    text-rendering: auto;
    
    background-color: #FFFFFF;
}

