body {
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    text-rendering: auto;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

